table {
  width: 50%;
  display: table;
  margin: 25% auto 0 auto;
  font-size: 150%;
}

input {
  width: 5%; 
  outline: none;
  padding: 0.5%;
  font-size: 110%;
}

tr {
  margin: 5% 0;
}

.celsius {
  background-color: grey;
}

.Fahrenheit {
  background-color: pink;
}
